*  { 
    margin: 0; box-sizing: border-box; 
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Verdana', 'Helvetica', sans-serif;
    color: rgb(28, 86, 145);
}

h1 {
    font-size: 36px;
    color: rgb(183, 203, 223);
}

h2 {
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 960px;
}

header, footer, footer a {
    text-align: center;
    background-color: rgb(105, 105, 112);
    color: rgb(183, 203, 223);
}

header img {
    width: 240px;
    height: auto;
    float: right;
}

footer {
    font-size: 12px;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    margin: 0 475px;
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#vid {
    display:flex;
    justify-content: center;
}