@media only screen and (min-width: 64em) {
    /*****header*****/
    h1 {
        font-size: 3rem;
    }
    .motto {
        font-size: 1.2rem;
    }
    /*****Gallery*****/
    .imagegallery {
    grid-template-columns: 1fr 1fr 1fr;
    }
    .shadow:hover {
        box-shadow: 0 0 50px #0e6096;
    }
    /*****Main Page*****/
    .townshome {
        display: grid;
        max-width: 900px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: column;
        grid-template-rows: repeat(5, 0.2fr) 1fr ;
        grid-column-gap: 3em;
    }






}