/* main css custom file */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    background-color: #d7d7d7;
    color: #132337;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tangerine', sans-serif;

}

h1,
h2 {
    font-size: 3rem;
    text-align: center;
}


h4 {
    font-size: 2em;
}

header,
.logobar,
.navbar,
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/******Header******/

header {

    margin: 0 auto;
    background-color: #336699;
    color: #f5f5f5;
    border: 2px solid #223f64;

}

.logohead {
    width: 99%;
    height: auto;
    border: 2px solid #e6cd75;
}

/******Navigation******/

nav {
    background-color: #336699;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 5px auto;
}
nav a {
    padding: .5rem;
    display: block;
    color: #e6cd75;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.active {
    background: #223f64;
    color: #f5f5f5;
}

nav a:hover {
    background: #E6CD75;
    color: #223f64;
}

.responsive li {
    display: block;
}

/*****Main Content Home Page*****/
main {
    max-width: 1025px;
    margin: 0 auto;
}
.introbox {
    background-color: #223f64;
    color: #E6CD75;
    padding: 30px;
    line-height: 1.25em;
    margin-bottom: 20px;
    border: 2px solid #e6cd75;
}
#introhead {
    padding: 25px;
    line-height: 1em;
}

/* Call to action */
#cta {
    margin: 0 auto 5px;
    font-size: 2.7rem;
}

#calltoaction {
    max-width: 400px;
    margin: 1rem auto;
    padding: .7rem;
    border: 2px solid #223f64;
    background-color: #efdfa7;
    color: #223f64;
    display: block;
    justify-content: center;
    text-align: center;
}

.submitbutton {
    border: none;
    background-color: #223f64;
    color: #b4c7d9;
    border-radius: .2rem;
    padding: .75rem 1.5rem;
    margin: 1rem 0 0;
    width: 100%;
    max-width: 250px;
}

/* Featured Temple */
#featurehead {
    padding: 1.5rem 0 0;
}

#featuretitle {
    padding: 10px 18px 0;
    font-size: 2em;
    text-align: center;
}

.featurearticle {
    margin: 20px auto 10px;
    padding: 10px;
    background-color: #8fabc7;
    border: 2px solid #223f64;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.featleftcol {
    padding-left: 20px;
    margin: 0 auto;
}

.featrightcol {
    line-height: 1.25rem;
    margin: 0 auto;
}

.featurearticle ul {
    padding: 0 20px;
}

.featureimg {
    width: 100%;
}

/* Slideshow */
.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: 20px auto 0;
}

.text {
    color: #223f64;
    background-color: #e6cd75;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 1px;
    width: 94%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    margin: 5px;
    position: absolute;
    top: 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #b0b0b0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotactive {
    background-color: #717171;
}

/* Contact info */
.contact {
    max-width: 1025px;
    margin: 10px auto;
    padding: 5px;
    background-color: #8fabc7;
    border: 2px solid #223f64;
    display: flex;
    flex-flow: row wrap;
}

.leftcol,
.rightcol {
    width: 99%;
    text-align: center;
}

/*****Temples Page*****/
#temphead {
    text-align: center;
}

.templeinfo {
    background-color: #223f64;
    color: #e6cd75;
    border: 2px solid #223f64;
}

.templegallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    padding: 10px;
}

.templeinfo img {
    width: 100%;

}

.content ul {
    padding: 0 20px;
}

.templename {
    font-size: 2em;
    text-align: center;
    padding: 5px;
}

/* Collapsible content */
.collapsible {
    background-color: #8fabc7;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}

.open,
.collapsible:hover {
    background-color: #ccc;
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.open:after {
    content: "\2212";
}

.content {
    padding: 0 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .02s ease-out;
    background-color: #8fabc7;
    color: #132337;
}

.summary {
    line-height: 1.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label {
    text-align: right;
    padding-right: .5rem;
}

.first {
    padding-top: .75rem;
}

.last {
    padding-bottom: .75rem;
}

/*****Reservations Page*****/
#bookbox {
    background-color: #8fabc7;
    border: 2px solid #223f64;
    padding: 10px;
    margin: 0 auto;

}

#bookflex {
    display: flex;
    flex-direction: column;
}

.resbox,
.guestbox {
    margin: 20px;
    border-color: #336699;
    flex-grow: 1;
}

.commentbox {
    border-color: #336699;
    margin: 0 20px;
}

.commentbox textarea {
    width: 100%;
}

.resbox legend,
.guestbox legend,
.commentbox legend {
    font-weight: bold;
    font-size: 1.15rem;
}

.resbox input,
.guestbox input {
    width: 97%;
}

.resbox select,
.guestbox select {
    width: 100%;
}

#legendsub {
    padding: 0 0 5px;
}

.ressubhead {
    padding: 0 15px;
    margin: 10px 20px 0px;
}

.resinfo label {
    margin: 20px 0 8px;
}

.resinfo input,
.resinfo select,
.resinfo textarea {
    border-radius: .2rem;
    background-color: #d7d7d7;
}

.userinput {
    margin-top: 2px;
}

.resinfo label {
    flex: none;
    display: block;
    width: 130px;
    font-weight: bold;
    font-size: 1em;
}

.userinput {
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 4px;
}

#resbutton {
    text-align: center;
}

/*****Services Pages*****/
#specialbox,
#amenitiesbox, #subpages, #banquetbox, #foodbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 20px auto;
}

#specialbox, #subpages, #banquetbox {
    background-color: #8fabc7;
}

#amenitiesbox, #foodbox {
    background-color: #223f64;
}

.textleftcol,
.textrightcol {
    margin: .4em;
    padding-left: 20px;
}

.textrightcol {
    color: #E6CD75;
}
.servicessub {
    padding: 0 18px 5px;
}

.textleftcol ul,
.textrightcol ul {
    padding: 0 20px;
}

.picleftcol,
.picrightcol, .subpic {
    margin: .5em;
}

#specialimg,
#amenitiesimg, #receptionimg, #weddingimg, #banquetimg, #foodimg {
    width: 100%;
}

.receptioncol,
.missioncol {
    width: 50%;
    flex: 2 0 15em;
    margin: .4em;
}

.sublink {
    color: #223f64;
    font-weight: bold;
    padding: 4px;
}
.sublink:hover {
    background: #223f64;
    color: #e6cd75;
}
.missionpage {
    background-color: #8fabc7;
    margin: 0 auto;
}
.smallcenter {
    padding: 12px;
    text-align: center;
}
.missionpage .numbertext {
    color: #223f64;
}
.roomslideshow-container {
    max-width: 400px;
    position: relative;
    margin: 0 auto;
}

/*****Contact Page*****/
.contactpage {
    background-color: #8fabc7;
    border: 2px solid #223f64;
    padding: 10px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
}

.address,
.contactform {
    margin: 20px;
    border-color: #336699;
}

.bold {
    font-weight: bold;
}

.mapsize {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.mapsize iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.address {
    text-align: center;
}

.contactform {
    padding: 24px;
    color: #E6CD75;
    border: 2px solid #223f64;
    background-color: #223f64;
}

#contactname,
#contactemail,
#contactsubject,
#contactmessage {
    width: 96%;
    margin: 10px 0;
    padding: 5px;
    border-radius: .2rem;
    resize: vertical;
    background-color: #d7d7d7;
}

.contactbutton {
    border: none;
    background-color: #e6cd75;
    color: #223f64;
    padding: .75rem 1.5rem;
    border-radius: .2rem;
    margin: 1rem 0 0 2%;
    width: 100%;
    max-width: 250px;
}

#conbutton {
    text-align: center;
}

/*****Thanks, Booking page*****/
.responsepage {
    text-align: center;
}

.responsepage a {
    color: #336699;
}


/*****Footer*****/
footer {
    margin: 10px auto;
    background-color: #336699;
    color: #f5f5f5;
    border: 2px solid #223f64;
    text-align: center;
    font-size: .7em;
}

.sources {
    color: #d1f4fa;
    text-decoration: none;
}

footer a:hover {
    background: #dddddd;
    color: #000000;
}