body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d1d49;
}

h3 {
  color: aqua;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 375px;
  width: 500px;
  align-items: center;
  justify-content: center;
  padding: 1px;
  gap: 1px;
  background-color: aqua;
}

img {
  height: 124px;
  width: 124px;
}

.container {
  text-align: center;
}

h1 {
  color: green;
}

.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #00ffff;
  border: 1px solid #00ff00;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.custom-alert button {
  background-color: #b026ff;
  border: 1px solid #00ff00;
  border-radius: 5px;
  padding: 5px 10px;
}